<h1>Requirements</h1>
<ol>
	<li>InstallthedevelopmentversionofRubywewillbeusingforourwebapplication.
	This should be version 2.0.0. My computer shows the following with the ruby -v command: 
   	ruby 2.0.0p353 (2013-11-22 revision 43784) [x86_64-darwin13.1.0]</li>

	<li>Install the development version ofRails we will be using for our web 	applications. The should be version 4.0.3. My computer shows the following with the rails -v command:  Rails 4.0.3 </li>

	<li>Visit https://toolbelt.heroku.com, and install the toolbelt by following the directions on this page. You will need to sign up for Heroku in order to complete this step.</li>

	<li>Install a postgresql database server locally.
		<ol>
			<li>Mac Homebrew: brew install postgresql</li>
			<li>Detailed installation guides: https://wiki.postgresql.org/wiki/
				Detailed_installation_guides</li>
		</ol>
	<li>Create a default rails project as described in class, ready for deployment to heroku.</li>
	<li>Create a basic route as described in class.</li>
		<ol>
			<li>Generate the welcome controller.</li>
			<li>In file app/views/welcome/index.html.erb, create some basic html.</li>
			<li>In file config/routes.rb, add the root route pointing to the welcome page.</li>
		</ol>
	<li>Deployyourprojecttoheroku.</li>
</ol>