<h1>Submission Information</h1>
 <h2>Submission Requirements</h2>
 <ol>
	<li>The URL to your default Rails application on Heroku.</li>
</ol>
<h2>Format</h2>
 <p>A <strong>PDF</strong> file containing your name, student number, and anyother project requirements must be submitted to iLearn <strong>before</strong> the due date, specified above. The <strong>pdf</strong> file should be named using the following convention:</p>

 <p><i>pNumber.firstName.lastName.submission_month.submission_day.zip</i></p>
 
 <p>For example, my submission file would be named p3.john.roberts.9.17.pdf. (Anything other than a pdf file will not be graded, which means it will receive a ZERO.)</p>
 
 <p>Please take care to properly format your code so that it is easily readable by a human. Presentation counts</p>

