<h2 align=center>Computer Science Department </br>
San Francisco State University <br>
CSC 667/867 <br>
Fall 2014<h2>

<h2>Assignment 3 - Rails Setup</h2>


<h2>Due Date</h2>
<p>Wednesday, September 17, at midnight.</p>

<h2>Overview</h2>
<p>The purpose of this project is to set up and deploy a basic Rails application to Heroku.</p>

<h2>Submission</h2>
<p>A <strong>PDF</strong> file containing your name, student number, and any other project requirements must be submitted to iLearn <strong>before</strong> the due date, specified above. The <strong>pdf</strong> file should be named using the following convention:</p>
<p><i>pNumber.firstName.lastName.submission_month.submission_day.zip</i></p>
<p>For example, my submission file would be named p3.john.roberts.9.17.pdf.!(Anything other than a pdf file will not be graded, which means it will receive a ZERO.)</p>
<p>Please take care to properly format your code so that it is easily readable by a human. Presentation counts</p>