<% provide(:title, 'Welcome') %>

<div class="hero-unit">
  <h1 class="center">Assignment 3 - Rails Setup</h1>

  <h4 class="center"\>
    Computer Science Department </br>
	San Francisco State University <br>
	CSC 667/867 <br>
	Fall 2014
  </h4>
  <h2>Due Date</h2>
    <p>Wednesday, September 17, at midnight.</p>

  <h2>Overview</h2>
  <p>The purpose of this project is to set up and deploy a basic Rails application to Heroku.</p>
  <%= link_to "Requirements", 'static_pages/assignment', class: "btn btn-large btn-primary" %>
  <%= link_to "Submission Info", 'static_pages/submission', class: "btn btn-large btn-primary" %>
</div>

